/* Ogólne */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

/* Kontener */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Nawigacja */
.navbar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
}

/* Formularze */
form {
    margin-bottom: 20px;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.logout-form {
    display: inline;
}

.logout-button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

/* Nagłówki */
h1,
h3 {
    color: #333;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

/* Lista postów */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

/* Tagi */
span {
    background-color: #e0f7e9;
    color: #2c7a33;
    font-size: 14px;
    padding: 2px 6px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border-radius: 3px;
}

/* Stopka */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

/* Powiadomienia */
.notifications {
    background-color: #fefefe;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.notification-message {
    text-align: center;
}

/* Responsywność */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: column;
    }

    .navbar-links li {
        margin: 5px 0;
    }

    input,
    select,
    textarea,
    button {
        font-size: 14px;
    }
}